.app__header {
    background-image: url("https://images.unsplash.com/photo-1603398938378-e54eab446dde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWVkaWNhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.app__navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    background-color: rgba(255,255,255,0.3);
    position: fixed;
    width: 100%;
    padding: 0.7rem 2rem;
    height: 60px;
    align-items: center;
}

.navbar__logo {
    font-size: 2rem;
    color: #000;
}

.special {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.navbar__logo span {
    color: #02D6A3;
}

.navbar__links ul {
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar__links ul li {
    margin-left: 1rem;
}
.navbar__links li:hover {
    color: #18be18;
}

@keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .blinking-text {
    animation: blink 1s infinite;
  }

.navbar__button button{
    background: red;
    outline: none;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    width: 110px;
    padding: 3px;
    color: #fff;
    font-size: 1rem;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .navbar__links {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100% - 70px);
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .navbar__links ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .navbar__links li {
    margin: 20px 0;
  }

  .navbar__links a {
    font-size: 1.2rem;
  }

  .navbar__button {
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .menu-icon {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .navbar__links.show {
    left: 0;
  }
}
/* Hero section Styling */

.app__hero {
  height: 100%;
  padding-top: 15%;
  /* padding-left: 5rem; */
  background-color: rgb(25, 68, 82, 0.5);
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 50vw; /* Set the width to 50% of the viewport width */
  height: 100vh;
  transform: skew(15deg);
  transform-origin: bottom left;
  z-index: -1;
}

.slanted__content {
  transform: skew(-15deg); /* Skew the content in the opposite direction (to keep it horizontal) */
  transform-origin: top left;
  padding-left: 10vw;
}

.slanted__content h5 {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
}

 .slanted__content h3 {
  color: #fff;
  font-weight: normal;
  font-size: 2.6rem;
 }

  .slanted__content h3>span {
    color: #02D6A3;
  }

  .slanted__content p {
    color: #fff;
    font-weight: 200;
 }

 .hero__buttons {
  padding-top: 1rem;
  /* margin: 1rem; */
 }

 .btn1 {
  background-color: #02D6A3;
  outline: none;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  color: #fff;
 }

 .btn1:hover {
  background: transparent;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
 }

 .btn2 {
  background: transparent;
  border: 1px solid #fff;
  padding: 1rem;
  color: #fff;
  margin-left: 1rem;
  font-size: 1.1rem;
 }

 .btn2:hover {
  background: #02D6A3;
  cursor: pointer;
  border: none;
 }